In [1]:
import pandas as pd

https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=cumulative

In [2]:
df_light_curves = pd.read_csv('cumulative_2022.09.30_09.06.43.csv',skiprows=144)

- COLUMN kepid:          KepID
- COLUMN kepoi_name:     KOI Name
- COLUMN kepler_name:    Kepler Name
- COLUMN koi_disposition: Exoplanet Archive Disposition
- COLUMN koi_pdisposition: Disposition Using Kepler Data
- COLUMN koi_score:      Disposition Score
- COLUMN koi_fpflag_nt:  Not Transit-Like False Positive Flag
- COLUMN koi_fpflag_ss:  Stellar Eclipse False Positive Flag
- COLUMN koi_fpflag_co:  Centroid Offset False Positive Flag
- COLUMN koi_fpflag_ec:  Ephemeris Match Indicates Contamination False Positive Flag
- COLUMN koi_period:     Orbital Period [days]
- COLUMN koi_period_err1: Orbital Period Upper Unc. [days]
- COLUMN koi_period_err2: Orbital Period Lower Unc. [days]
- COLUMN koi_time0bk:    Transit Epoch [BKJD]
- COLUMN koi_time0bk_err1: Transit Epoch Upper Unc. [BKJD]
- COLUMN koi_time0bk_err2: Transit Epoch Lower Unc. [BKJD]
- COLUMN koi_impact:     Impact Parameter
- COLUMN koi_impact_err1: Impact Parameter Upper Unc.
- COLUMN koi_impact_err2: Impact Parameter Lower Unc.
- COLUMN koi_duration:   Transit Duration [hrs]
- COLUMN koi_duration_err1: Transit Duration Upper Unc. [hrs]
- COLUMN koi_duration_err2: Transit Duration Lower Unc. [hrs]
- COLUMN koi_depth:      Transit Depth [ppm]
- COLUMN koi_depth_err1: Transit Depth Upper Unc. [ppm]
- COLUMN koi_depth_err2: Transit Depth Lower Unc. [ppm]
- COLUMN koi_prad:       Planetary Radius [Earth radii]
- COLUMN koi_prad_err1:  Planetary Radius Upper Unc. [Earth radii]
- COLUMN koi_prad_err2:  Planetary Radius Lower Unc. [Earth radii]
- COLUMN koi_teq:        Equilibrium Temperature [K]
- COLUMN koi_teq_err1:   Equilibrium Temperature Upper Unc. [K]
- COLUMN koi_insol:      Insolation Flux [Earth flux]
- COLUMN koi_insol_err1: Insolation Flux Upper Unc. [Earth flux]
- COLUMN koi_insol_err2: Insolation Flux Lower Unc. [Earth flux]
- COLUMN koi_model_snr:  Transit Signal-to-Noise
- COLUMN koi_tce_plnt_num: TCE Planet Number
- COLUMN koi_tce_delivname: TCE Delivery
- COLUMN koi_steff:      Stellar Effective Temperature [K]
- COLUMN koi_steff_err1: Stellar Effective Temperature Upper Unc. [K]
- COLUMN koi_steff_err2: Stellar Effective Temperature Lower Unc. [K]
- COLUMN koi_slogg:      Stellar Surface Gravity [log10(cm/s**2)]
- COLUMN koi_slogg_err1: Stellar Surface Gravity Upper Unc. [log10(cm/s**2)]
- COLUMN koi_slogg_err2: Stellar Surface Gravity Lower Unc. [log10(cm/s**2)]
- COLUMN koi_srad:       Stellar Radius [Solar radii]
- COLUMN koi_srad_err1:  Stellar Radius Upper Unc. [Solar radii]
- COLUMN koi_srad_err2:  Stellar Radius Lower Unc. [Solar radii]
- COLUMN ra:             RA [decimal degrees]
- COLUMN dec:            Dec [decimal degrees]
- COLUMN koi_kepmag:     Kepler-band [mag]

In [3]:
df_light_curves

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_vet_stat,koi_vet_date,koi_pdisposition,koi_score,koi_fpflag_nt,...,koi_dicco_mdec,koi_dicco_mdec_err,koi_dicco_msky,koi_dicco_msky_err,koi_dikco_mra,koi_dikco_mra_err,koi_dikco_mdec,koi_dikco_mdec_err,koi_dikco_msky,koi_dikco_msky_err
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,Done,2018-08-16,CANDIDATE,1.000,0,...,0.200,0.160,0.200,0.170,0.080,0.130,0.310,0.170,0.320,0.160
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,Done,2018-08-16,CANDIDATE,0.969,0,...,0.000,0.480,0.390,0.360,0.490,0.340,0.120,0.730,0.500,0.450
2,3,10811496,K00753.01,NaN,CANDIDATE,Done,2018-08-16,CANDIDATE,0.000,0,...,-0.034,0.070,0.042,0.072,0.002,0.071,-0.027,0.074,0.027,0.074
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,Done,2018-08-16,FALSE POSITIVE,0.000,0,...,0.147,0.078,0.289,0.079,-0.257,0.072,0.099,0.077,0.276,0.076
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,Done,2018-08-16,CANDIDATE,1.000,0,...,-0.090,0.180,0.100,0.140,0.070,0.180,0.020,0.160,0.070,0.200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,9560,10090151,K07985.01,NaN,FALSE POSITIVE,Done,2018-08-16,FALSE POSITIVE,0.000,0,...,-1.757,0.068,2.763,0.074,2.344,0.072,-1.756,0.068,2.929,0.072
9560,9561,10128825,K07986.01,NaN,CANDIDATE,Done,2018-08-16,CANDIDATE,0.497,0,...,-0.250,0.490,0.780,0.460,0.500,0.400,-0.180,0.470,0.530,0.470
9561,9562,10147276,K07987.01,NaN,FALSE POSITIVE,Done,2018-08-16,FALSE POSITIVE,0.021,0,...,-3.650,0.260,5.000,0.220,3.380,0.160,-3.890,0.260,5.160,0.220
9562,9563,10155286,K07988.01,NaN,CANDIDATE,Done,2018-08-16,CANDIDATE,0.092,0,...,1.320,0.670,1.690,0.530,1.450,0.110,1.370,0.660,2.000,0.460
9563,9564,10156110,K07989.01,NaN,FALSE POSITIVE,Done,2018-08-16,FALSE POSITIVE,0.000,0,...,3.300,1.100,3.400,1.100,0.960,0.670,3.400,1.100,3.500,1.100

In [4]:
# datos que nos sirven para clasificar la estrella
df = df_light_curves[['kepid','kepoi_name','koi_disposition','koi_steff','koi_srad','koi_smass']]
df

         kepid kepoi_name koi_disposition  koi_steff  koi_srad  koi_smass
0     10797460  K00752.01       CONFIRMED     5455.0     0.927      0.919
1     10797460  K00752.02       CONFIRMED     5455.0     0.927      0.919
2     10811496  K00753.01       CANDIDATE     5853.0     0.868      0.961
3     10848459  K00754.01  FALSE POSITIVE     5805.0     0.791      0.836
4     10854555  K00755.01       CONFIRMED     6031.0     1.046      1.095
...        ...        ...             ...        ...       ...        ...
9559  10090151  K07985.01  FALSE POSITIVE     5638.0     0.903      1.005
9560  10128825  K07986.01       CANDIDATE     6119.0     1.031      1.075
9561  10147276  K07987.01  FALSE POSITIVE     6173.0     1.041      1.104
9562  10155286  K07988.01       CANDIDATE     4989.0     7.824      2.190
9563  10156110  K07989.01  FALSE POSITIVE     6469.0     1.193      1.260

[9564 rows x 6 columns]

In [6]:
# revision de valores nullos en los datos de filtro
df.isnull().sum()

kepid                0
kepoi_name           0
koi_disposition      0
koi_steff          363
koi_srad           363
koi_smass          363
dtype: int64

In [7]:
# evaluacion rapida de los datos
df.describe()

              kepid     koi_steff     koi_srad    koi_smass
count  9.564000e+03   9201.000000  9201.000000  9201.000000
mean   7.690628e+06   5706.823280     1.728712     1.023706
std    2.653459e+06    796.857947     6.127185     0.349447
min    7.574500e+05   2661.000000     0.109000     0.000000
25%    5.556034e+06   5310.000000     0.829000     0.845000
50%    7.906892e+06   5767.000000     1.000000     0.974000
75%    9.873066e+06   6112.000000     1.345000     1.101000
max    1.293514e+07  15896.000000   229.908000     3.735000

Caracteristicas de cada estrella (Segun wikipedia)

<img src="stars_type.png">

In [8]:
O_stars ={
    "max_temp" : 10000000000000, 
    "min_temp" : 33000,
    "max_masa" : 1000,
    "min_masa" : 16,
    "max_rad" : 1000,
    "min_rad" : 6.6,
    "max_light" : 1000000,
    "min_light" : 30000
}

B_stars ={
    "max_temp" : 33000,
    "min_temp" : 10000,
    "max_masa" : 16,
    "min_masa" : 2.1,
    "max_rad" : 6.6,
    "min_rad" : 1.8,
    "max_light" : 30000,
    "min_light" : 25
}

A_stars ={
    "max_temp" : 10000, 
    "min_temp" : 7500, 
    "max_masa" : 2.1, 
    "min_masa" : 1.4, 
    "max_rad" : 1.8,
    "min_rad" : 1.4,
    "max_light" : 25,
    "min_light" : 5
}

F_stars ={
    "max_temp" : 7500,
    "min_temp" : 6000,
    "max_masa" : 1.4,
    "min_masa" : 1.04,
    "max_rad" : 1.4,
    "min_rad" : 1.15,
    "max_light" : 5,
    "min_light" : 1.5
}

G_stars ={
    "max_temp" : 6000,
    "min_temp" : 5200,
    "max_masa" : 1.04,
    "min_masa" : 0.8,
    "max_rad" : 1.15,
    "min_rad" : 0.96,
    "max_light" : 1.5,
    "min_light" : 0.6
}

K_stars ={
    "max_temp" : 5200, 
    "min_temp" : 3700, 
    "max_masa" : 0.8 , 
    "min_masa" : 0.45, 
    "max_rad" : 0.96 , 
    "min_rad" : 0.7, 
    "max_light" : 0.6,
    "min_light" : 0.08
}

M_stars ={
    "max_temp" : 3700, 
    "min_temp" : 0, 
    "max_masa" : 0.45, 
    "min_masa" : 0, 
    "max_rad" : 0.7, 
    "min_rad" : 0,
    "max_light" : 0.08,
    "min_light" : 0
}

In [9]:
def filter_data (df ,star):
    """
    Funcion para filtrar los registros segun las caracteristicas de las estrellas que se pasen.
    
    Parametros
    -------------------
    df: pandas.Dataframe
        Dataframe desde donde se extraen los registros de cada curva de luz.
    star: dict
        diccionario con los valores maximos y minimos de las estrellas para su filtro.
        
    Retorna
    -------------------
    df: pandas.Dataframe
        Dataframe con los registros que cumplen las condiciones maximas y minimas entregadas por el diccionario.
    """
    return df[ 
        # radio de la estrella
        ((df['koi_srad']<= star["max_rad"]) & (df['koi_srad'] >= star["min_rad"]) )
        #temperatura de la estrella (agregar '&' en caso de activar la anterior)
        &     ( (df['koi_steff']<= star["max_temp"]) & (df['koi_steff']>= star["min_temp"]) )
        #masa de la estrella
        #      & ( (df['koi_smass']<= star["max_masa"]) & (df['koi_smass']>= star["min_masa"]) )
    ]

def dataset_stadistic(df):
    """
    Entrega datos estadisticos de los registros:
    - Cantidad de registros.
    - Cantidad de planetas confirmados.
    - Cantidad de falsos positivos.
    - Cantidad de planetas candidatos.
    - Balanceo: carga de los datos entre confirmados y Falsos positivos que varia entre -1 y 1.
                  - -1: todos los valores son falsos positivos
                  -  0: misma cantidad de planetas confirmados y falsos positivos.
                  -  1: todos los valores son planetas confirmados.
    
    Parametros
    -------------------
    df: pandas.Dataframe
        Dataframe desde donde se extraen los registros de cada curva de luz.
    star: dict
        diccionario con los valores maximos y minimos de las estrellas para su filtro.
        
    Retorna
    -------------------
    df: pandas.Dataframe
        Dataframe con los registros que cumplen las condiciones maximas y minimas entregadas por el diccionario.
    """
    stadistic = pd.DataFrame({'metrica':[],'valores':[]})
    
    stadistic = stadistic.append({'metrica':'Cantidad total de registros','valores':len(df)},ignore_index=True)
    stadistic = stadistic.append({'metrica':'Planetas confirmados','valores':len(df[df['koi_disposition']=='CONFIRMED' ])},ignore_index=True)
    stadistic = stadistic.append({'metrica':'Planetas candidatos','valores':len(df[df['koi_disposition']=='CANDIDATE' ])},ignore_index=True)
    stadistic = stadistic.append({'metrica':'Falso positivo','valores':len(df[df['koi_disposition']=='FALSE POSITIVE' ])},ignore_index=True)
    try:
        balanceo = (len(df[df['koi_disposition']=='CONFIRMED' ]) - len(df[df['koi_disposition']=='FALSE POSITIVE' ]))/(len(df[df['koi_disposition']=='CONFIRMED' ])+len(df[df['koi_disposition']=='FALSE POSITIVE' ]))
    except:
        balanceo = 'Error'
    stadistic = stadistic.append({'metrica':'balanceo','valores':balanceo},ignore_index=True)
    pd.set_option('precision', 2)
    display(stadistic)

In [10]:
df_m_stars = filter_data(df,M_stars)
df_k_stars =filter_data(df,K_stars)
df_g_stars =filter_data(df,G_stars)
df_f_stars =filter_data(df,F_stars)
df_a_stars =filter_data(df,A_stars)
df_b_stars =filter_data(df,B_stars)
df_o_stars =filter_data(df,O_stars)

print('Estrellas tipo M')
dataset_stadistic(df_m_stars)

print('\nEstrellas tipo K')
dataset_stadistic(df_k_stars)

print('Estrellas tipo G')
dataset_stadistic(df_g_stars)

print('\nEstrellas tipo F')
dataset_stadistic(df_f_stars)

print('Estrellas tipo A')
dataset_stadistic(df_a_stars)

print('\nEstrellas tipo B')
dataset_stadistic(df_b_stars)

print('\nEstrellas tipo O')
dataset_stadistic(df_o_stars)

Estrellas tipo M

                       metrica  valores
0  Cantidad total de registros   104.00
1         Planetas confirmados    48.00
2          Planetas candidatos    22.00
3               Falso positivo    34.00
4                     balanceo     0.17

Estrellas tipo K

                       metrica  valores
0  Cantidad total de registros   679.00
1         Planetas confirmados   340.00
2          Planetas candidatos   141.00
3               Falso positivo   198.00
4                     balanceo     0.26

Estrellas tipo G

                       metrica  valores
0  Cantidad total de registros   948.00
1         Planetas confirmados   389.00
2          Planetas candidatos   183.00
3               Falso positivo   376.00
4                     balanceo     0.02

Estrellas tipo F

                       metrica  valores
0  Cantidad total de registros    598.0
1         Planetas confirmados    162.0
2          Planetas candidatos    135.0
3               Falso positivo    301.0
4                     balanceo     -0.3

Estrellas tipo A

                       metrica  valores
0  Cantidad total de registros      5.0
1         Planetas confirmados      0.0
2          Planetas candidatos      0.0
3               Falso positivo      5.0
4                     balanceo     -1.0

Estrellas tipo B

                       metrica  valores
0  Cantidad total de registros     13.0
1         Planetas confirmados      0.0
2          Planetas candidatos      1.0
3               Falso positivo     12.0
4                     balanceo     -1.0

Estrellas tipo O

                       metrica valores
0  Cantidad total de registros     0.0
1         Planetas confirmados     0.0
2          Planetas candidatos     0.0
3               Falso positivo     0.0
4                     balanceo   Error

In [11]:
df_save_M=filter_data(df_light_curves,M_stars)
df_save_K=filter_data(df_light_curves,K_stars)
df_save_G=filter_data(df_light_curves,G_stars)

In [12]:
df_save_M_filtered = df_save_M[(df_save_M['koi_disposition']== 'CONFIRMED') | (df_save_M['koi_disposition']== 'FALSE POSITIVE') ]

df_save_K_filtered = df_save_K[(df_save_K['koi_disposition']== 'CONFIRMED') | (df_save_K['koi_disposition']== 'FALSE POSITIVE') ]
df_save_G_filtered = df_save_G[(df_save_G['koi_disposition']== 'CONFIRMED') | (df_save_G['koi_disposition']== 'FALSE POSITIVE') ]

In [13]:
df_save_M.to_csv('light_curves_M_stars.csv',index=False)
df_save_K.to_csv('light_curves_K_stars.csv',index=False)
df_save_G.to_csv('light_curves_G_stars.csv',index=False)

df_save_M_filtered.to_csv('light_curves_M_stars_filter.csv',index=False)
df_save_K_filtered.to_csv('light_curves_K_stars_filter.csv',index=False)
df_save_G_filtered.to_csv('light_curves_G_stars_filter.csv',index=False)